# 일반적으로 불필요한 파일
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE 파일
.idea/
*.iml
*.ipr
*.iws

# Dart & Flutter 관련 파일
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# API 문서
**/doc/api/

# 심볼릭화 및 난독화 관련 파일
app.*.symbols
app.*.map.json

# Android build 결과물
/android/.gradle
/android/build/
/android/app/debug/
/android/app/profile/
/android/app/release/

# Firebase API keys (Android)
/android/app/google-services.json

# Flutter에서 생성되는 파일
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_assets/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/ephemeral/
**/ios/*.generated.xcconfig

# iOS 작업 공간 및 의존성 파일
**/ios/Runner.xcworkspace
**/ios/Pods/
**/ios/Podfile.lock
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/.symlinks/

# Firebase API keys (iOS)
/ios/Runner/GoogleService-Info.plist

# API 키 유출 방지용
.env
firebase.json
/lib/firebase/firebase_options.dart

# 운영체제에서 생성하는 파일
**/Thumbs.db
**/*.db

# 자동생성되는 파일
/generated_plugin_registrant.dart
